.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  width: 400px;
  margin-top: 20px;
}

.square {
  width: 50px;
  height: 50px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light { background-color: #e3cfa4; }
.dark  { background-color: #7a5334; }
