.factos-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.facto-item{
  display: flex;
  width: 100%;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ccc;
  cursor: pointer;
  color: #000;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.contenedor-centrado{
  width: 100%;
  display: flex;
  justify-content: center;
}

.facto-item:hover{
  background-color: #aaa;
}

.contenedor-btn{
  display: flex;
  justify-content: center;
}

.btn-refrescar{
  width: 100px;
}