.pokemon-card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.25s;
  background-color: #d8d7d7;
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}